{% extends 'base.html' %}

{% block title %}
{{ product.name }}
{% endblock %}


{% block content %}
        {% if added %}
            <h1>Added product to the basket</h1>
        {% endif %}
            <div class="product-content">
                <div class="product-effect">
                    <img class="prod-img" src="{{ product.picture.url }}"  alt=""/>
                </div>
                {{ product.description}}
            </div>
            <div class="product-button">
                <a href="/addbasket/{{ product.id }}" class="btn btn-primary">Buy - {{ product.price }}</a>
            </div>
{% endblock %}
